# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/dist/
# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

android/key.properties

lib/modules/auth/screens/login/auth_data.dart
*.jks

android/app/google-services.json
android/build_variable.properties
ios/Runner/GoogleService-Info.plist


android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png

android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png

android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png

android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png

android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png

android/app/src/main/res/mipmap-hdpi/ic_launcher.png

android/app/src/main/res/mipmap-mdpi/ic_launcher.png

android/app/src/main/res/mipmap-xhdpi/ic_launcher.png

android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png

android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png

android/app/src/main/res/values/build_res.xml

build_appbundle.sh

ios/BuildVariable.xcconfig

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20\@3x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29\@3x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40\@3x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60\@3x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76\@1x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76\@2x.png

ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5\@2x.png

lib/build_property.dart

**/key.properties
**/GoogleService-Info.plist
**/google-services.json
build_apk.sh
lib/inject/modules/crypto_module.dart
android/app/src/main/res/drawable/main_logo.png

core/aurora_ui_kit