<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.afterlogic.aurora.mail.custom</key>
        <string>Runner</string>
    </dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>J7AW6VHJK4</string>
</dict>
</plist>
